* {
    border: 1px solid red;
  }

html, body{
    margin: 0; 
    padding: 0;
}

header{
    font-family: "Times New Roman", sans-serif;
    font-weight: 200;
    background-color: blue;
    align-items: center;
}

header, h1{
    align-items: center;
}

#website_name{
    align-content: center;
}

