html, body{
    margin: 0; 
    padding: 0;
}


body{
    
}

#poop h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: rgb(40, 190, 3);
}

#piss{
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 124, 14);
}