/* * {
    border: 1px solid red;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/**header*/
header{
    min-height: 50px;
    font-weight: 200;
    background-color: white;
    width: 100%;
}

header a img{
    position: static;
}

#website_name{
    position: absolute;
    top: 0%;
    left: 25%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #032d64;
}

#account{
    position: absolute;
    top: 1%;
    right: 1%;
    color: white;
    background-color: #032d64;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#account: hover{
    background-color: #0165d8;
}

/**styling for the navigation bar*/
nav {
    overflow: hidden;
    background-color: #032d64;
}
  
nav a {
    float: left;
    color: white;
    background-color: #032d64;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
nav a:hover {
    background-color: #0165d8;
}

/**footer*/
footer{
    min-height: 50px;
    background-color: #032d64;
    color: white;
    width: 100%;
}

footer a{
    color: white;
}

footer a:hover{
    opacity: 70%;
}

footer div{
    float: right;
    padding: 14px 16px;
}